/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Setup

   //////////////////////////////////////////////////////////////////////////
   -------------------------------------------------------------------------- */ 


/* #Setup - Windows Phone 8 fix timkadlec.com/2013/01/windows-phone-8-and-device-width
   -------------------------------------------------------------------------- */

@-webkit-viewport{width:device-width}
   @-moz-viewport{width:device-width}
    @-ms-viewport{width:device-width}
     @-o-viewport{width:device-width}
        @viewport{width:device-width}

/* #Setup - Fonts
   -------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Basic

   //////////////////////////////////////////////////////////////////////////
   -------------------------------------------------------------------------- */ 


/* #Basic - Default tags
   -------------------------------------------------------------------------- */
html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2{
  margin-bottom: 16px;
  font-size: 27px;
  line-height: normal;
}

p{
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;

}

strong, b {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

i, em {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

ul, ol {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Navbar (Menu)

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */

.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: #353535;
  border-radius: 0;
  border-color: #353535;
}
.navbar-brand {
  height: auto; 
}

.navbar-brand img {
  margin-top: 7px;
}

.navbar-toggle {
  padding: 19px 18px;
  margin-top: 22px;
  margin-left: 30px;
}

.collapsed-nav-items {
  position: relative;
  top: 16px;
  left: 30px;
  width:250px;
}

@media (min-width: 500px){
  .collapsed-nav-items {
    width:330px;
  }
}

.collapsed-nav-items .nav-price {
  font-size: 10px;
  padding-top: 4px;
}

@media (min-width: 500px){
  .collapsed-nav-items .nav-price {
    font-size: 14px;
    padding-top: 0;
  }
}

.nav-custom {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

@media (min-width: 768px){
  .nav-custom {
    text-align: left;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .nav-custom {
    margin-top: 0;
    position: absolute;
    right: 0;
    bottom: 4px;
  }
}


@media (min-width: 992px){
  .navbar-nav {
    margin-top: 55px;
  }
}

.navbar-default .navbar-nav>li>a{
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
}

@media (min-width: 992px){
  .navbar-default .navbar-nav>li>a{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #3696d3;
  background-color: transparent;
}

.full-view {
  position: relative;
}

@media (min-width: 768px){
  .cm-button-container-2 {
    position: absolute;
    left: -180px;
  }
  .cmwebsite-2 {
    position: absolute;
    border: 1px solid #3696d3;
    border-radius: 1px;
  }
}

.cm-button-container {
  position: absolute;
  right: 0;
}
.cmwebsite {
  position: absolute;
  border: 1px solid #3696d3;
  border-radius: 1px;
}

.form-box {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-price, .nav-mail, .nav-fax, .nav-lang {
  float:left;
  color: #d5d5d5;
  margin:7px 6px;
}

.nav-price {
  position: relative;
}



.nav-price:before {
  content: " ";
  position: absolute;
  top: -1px;
  left: -32px;
  width: 24px;
  height: 24px;
  background-image: url(../images/green-arrow.png);
}

.nav-mail {
  width: 20px;
  height: 20px;
  background-image: url(../images/nav-mail.png);
  cursor: pointer
}

.nav-fax {
  width: 20px;
  height: 20px;
  background-image: url(../images/nav-fax.png);
  margin-right: 10px;
  cursor: pointer
}

.navbar-form .form-control {
  width:100px;
}

.pre-search-box {
  display: inline-block;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #d5d5d5;
  width: 170px;
  margin: 0 auto;
}

.search-box {
  margin-right: 30px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #d5d5d5;
}

.search-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #d5d5d5;
}
.search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #d5d5d5;
  opacity:  1;
}
.search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #d5d5d5;
  opacity:  1;
}
.search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d5d5d5;
}

.hasPlaceholder {
  color: #d5d5d5;
}

.over-search-box {
  position: relative;
  display: inline-block;
}

.search-zoom {
  position: absolute;
  top: 3px;
  right: 0;
  padding: 12px;
  width: 30px;
  height: 30px;
  background-image: url(../images/zoom.png);
  background-repeat: no-repeat;
  background-position: center; 
  border:none;
  background-color: transparent;
}

.pre-search-zoom {
  position: inherit;
  display: inline-block;
  vertical-align: middle;
  top:1px;
}

.nav-lang {
  float: right;
  margin:7px 6px;
}

.form-control {

}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Slider

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */


#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.item {
  position: relative;
}

.slide-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}

.slide-text p{
  width: 85%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  font-size: 22px;
  font-weight: bold;
  color: white;
}

@media (min-width: 768px){
  .slide-text p{
    width: 80%;
    font-size: 40px;
  }
}

@media (min-width: 992px){
  .slide-text p{
    width: 80%;
    font-size: 55px;
  }
}

.owl-theme .owl-controls .owl-page span {
  width: 15px;
  height: 15px;
  margin: 5px 12px;
  background: #808080;
}

@media (min-width: 768px){
  .owl-theme .owl-controls .owl-page span {
    width: 20px;
    height: 20px;
    margin: 5px 12px;
    background: #808080;
  }
}

.owl-theme .owl-controls {
  margin-top: 10px;
}

@media (min-width: 768px){
  .owl-theme .owl-controls {
    margin-top: 30px;
  }
}

.owl-buttons {
  display: none;
}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Below slider text

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */

.leading-text {
  width: 100%;
  padding: 15px 0;
}

@media (min-width: 768px){
  .leading-text {
    width: 100%;
    padding: 35px 0;
  }
}

.leading-text h1 {
  width:80%;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  color:#585858;
}

@media (min-width: 768px){
  .leading-text h1 {
    width:60%;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    font-size: 36px;
    color:#585858;
  }
}

@media (min-width: 992px){
  .leading-text h1 {
    width:66%;
    font-size: 38px;
  }
}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Four box columns

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */


.the-column {
  overflow: hidden;
}

@media (min-width: 480px) and (max-width: 540px){
  .the-column {
    height: 650px;
    max-height: 650px;
  }
}

@media (min-width: 540px) and (max-width: 767px){
  .the-column {
    height: 585px;
    max-height: 585px;
  }
  .last-two-columns > .the-column {
    height: 502px;
    max-height: 502px;
  }
}

@media (min-width: 768px){
  .the-column {
    height: 585px;
    max-height: 585px;
  }
}

@media (min-width: 768px){
  .last-two-columns > .the-column {
    height: 502px;
    max-height: 502px;
  }
}

@media (min-width: 992px){
  .the-column, .last-two-columns > .the-column {
    height: 614px;
    max-height: 614px;
  }
}

@media (min-width: 1200px){
  .the-column, .last-two-columns > .the-column {
    height: 585px;
    max-height: 585px;
  }
}


.center-column {
  border: 1px solid #dddddd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-radius: 0;
  border-bottom:none;
}

.column-border {
  border: none;
}

.first-lower-column {
  position: relative;
  bottom: -6px;
}

.under-column {
  width: 100%;
  height: 13px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top: none;
}

.column-box {
  height: 129px;
  border: 1px solid #dddddd;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: none;
  background-image: url('../images/full-box-1.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
}

.image-border {
  border:none;
}

.upper-column-text {
  padding: 20px  16px 20px;
  border: 1px solid #dddddd;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top: none;
}

.column-text {
  border-top: none;
  padding: 20px  16px 20px;
  border-bottom:none;
}

.column-calendar {
  margin-top: 0px;
  font-size: 32px;
  font-weight: bold;
  color: #e3097e;
}

.upper-light{
  margin-bottom: 0;
  border-bottom: 1px solid #dddddd;
}

.lower-dark {
  margin-top: 0;
  font-weight: bold;
}

.all-events {
  display: block;
  margin-top: 16px;
  font-size: 18px;
  text-decoration: none;
  color: #11a5e5;
}

.lower-column {
  margin-top: 15px;
  padding: 20px  16px 20px;
  border: 1px solid #dddddd;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom:none;
}

.column-share {
  margin-top: 0px;
  font-size: 29px;
  font-weight: bold;
  color: #71bf44;
}

.icon-text {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #71bf44;
  left: 30px;
}

.icon-text::before {
  content: " ";
  position: absolute;
  top: 2px;
  left: -30px;
  width: 24px;
  height: 24px;
  background-image: url(../images/green-arrow.png);
}

.icon-text + div {
  position: relative;
  display: inline-block;
  left: 40px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 17px;
}


/* -------------------------------------------------------------
LATEST REPORT COLUMN -------------------------------------------*/


.column-image-2 {
  background-image: url('../images/full-box-2.jpg');
  background-position: center center;
}

.latest-report {
  color:#92278f;
}

.first-report span, .second-report span, .third-report span, .fourth-report span {
  font-weight: bold;
}

.first-report, .second-report, .third-report, .fourth-report {
  position: relative;
  margin-left: 30px;
}

.first-report::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 25px;
  height: 24px;
  background-image: url(../images/green-speaker.png);
}

.second-report::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 22px;
  height: 19px;
  background-image: url(../images/red-adobe.png);
}

.third-report::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 22px;
  height: 19px;
  background-image: url(../images/red-adobe.png);
}

.fourth-report::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 20px;
  height: 19px;
  background-image: url(../images/green-x.png);
}

.fourth-report + .all-events {
    margin-left: 30px;
}


/* --------------------------------------------------------------
PRESS RELEASES COLUMN -------------------------------------------*/


.press-releases {
  color: #40bc58;
}

.column-image-3 {
  background-image: url('../images/full-box-3.jpg');
  background-position: center center;
}


/* --------------------------------------------------------
LOREM IPSUM BOX -------------------------------------------*/


.column-image-4 {
  background-image: url('../images/full-box-4.jpg');
  background-position: center center;
}

.column-title-4 {
  color: #00aeef;
}

.column-title-lower-4 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #2e3192;
}

.no-border {
  border: none;
}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #News section

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */


.news {
  margin-top: 40px;
  padding-bottom: 40px;
  background: #f2f2f2;
}

.over-news-box {
  margin-bottom: 25px;
}

.over-news-box:nth-of-type(3) {
  margin-bottom: 0;
}

@media (min-width: 768px){
  .over-news-box {
    margin-bottom: 0;
  }
}

.news-title {
  margin:30px 0;
  font-size: 36px;
  font-weight: bold;
  color: #384654;
}

.news-image-1 img{
  width:100%;
  height: auto;
}

.news-image-2 img {
  width:100%;
  height: auto;
}

.news-column-title {
  margin-top: 25px;
  font-size: 32px;
  font-weight: bold;
  color: #353535;
}

.news-date {
  font-size: 15px;
  color: #bebdbd;
}

.all-news {
  float:right;
}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Pre-footer

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */


.pre-footer {
  padding: 40px 0 50px;
  background: #1a1a1a;
}

@media (min-width: 992px){
  .pre-footer {
    padding: 40px 0 60px;
  }
}

.over-bottom-lists{
  margin-bottom: 20px;
}
.over-bottom-lists:last-child {
  margin-bottom: 0;
}

.bottom-lists {
  padding:0;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (min-width: 992px){
  .bottom-lists {
    text-align: left;
  }
}

.bottom-lists li {
  list-style: none;
  line-height: 2;
}

.bottom-lists li:first-child {
  font-size: 14px;
  font-weight: bold;
}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Upper-footer

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */


.footer {
  padding: 40px 0 60px;
  background: #303030;
}

.social-box {
  position: relative;
  margin: 0 30px;
}

@media (min-width: 992px){
  .social-box {
    position: relative;
    width:66%;
    margin: 0 auto;
  }
}

.social-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -30px;
  left: 0;
  background: #7b7b7b;
}

@media (min-width: 768px){
  .social-box::after {
    bottom: -60px;
  }
}

.social-link {
  display: inline-block;
  margin:0 15px 50px;
}

@media (min-width: 992px){
  .social-link {
    display: inline-block;
    margin:0 17px;
  }

  .social-link:first-child {
    margin-left:0;
  }

  .social-link:last-child {
    margin-right:0;
  }
}

@media (min-width: 1200px){
  .social-link {
    display: inline-block;
    margin:0 28px;
  }
}


/* -----------------------------------------------------
SOCIAL ICONS -------------------------------------------*/


.social-google,
.social-twitter,
.social-facebook,
.social-linkedin,
.social-instagram,
.social-youtube,
.social-slideshare  {
  position: relative;
  width: 58px;
  height: 58px;
}

.social-google span,
.social-twitter span,
.social-facebook span,
.social-linkedin span,
.social-instagram span,
.social-youtube span,
.social-slideshare span {
  position: relative;
  bottom: -70px;
  display:table;
  margin:0 auto;
  color: white;
}

.social-google {
    background-image: url(../images/social-google.png);
}

.social-google:hover {
    background-image: url(../images/social-google-hover.png);
}

.social-twitter {
    background-image: url(../images/social-twitter.png);
}

.social-twitter:hover {
    background-image: url(../images/social-twitter-hover.png);
}

.social-facebook {
    background-image: url(../images/social-facebook.png);
}

.social-facebook:hover {
    background-image: url(../images/social-facebook-hover.png);
}

.social-linkedin {
    background-image: url(../images/social-linkedin.png);
}

.social-linkedin:hover {
    background-image: url(../images/social-linkedin-hover.png);
}

.social-instagram {
    background-image: url(../images/social-instagram.png);
}

.social-instagram:hover {
    background-image: url(../images/social-instagram-hover.png);
}

.social-youtube {
    background-image: url(../images/social-youtube.png);
}

.social-youtube:hover {
    background-image: url(../images/social-youtube-hover.png);
}

.social-slideshare {
    background-image: url(../images/social-slideshare.png);
}

.social-slideshare:hover {
    background-image: url(../images/social-slideshare-hover.png);
}


/* --------------------------------------------------------------------------
   //////////////////////////////////////////////////////////////////////////

   #Bottom footer

   //////////////////////////////////////////////////////////////////////////

   -------------------------------------------------------------------------- */


.bottom-footer {
  margin-top: 90px;
}

@media (min-width: 768px){
  .bottom-footer {
    margin-top: 120px;
  }
}

.footer-logo {
  margin-left: 30px;
}

@media (min-width: 768px){
  .footer-logo {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }
}

.footer-text {
  margin: 30px;
}

@media (min-width: 768px){
  .footer-text {
    display: inline-block;
    width: 70%;
    margin:0 0 0 100px;
  }
}

.footer-text p {
  font-size: 11px;
  color:#666666;
}

.lighter-privacy {
  color: #969696;
}